.button {
    padding: 14px 39px;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    border:1px solid transparent;
    background-color: $orange;
    text-align: center;
    color: $white;


    &:hover {
        color: $orange;
        background-color: $white;
        border: 1px solid $orange;
    }
    &:active {
        color: $white;
        background-color: $orange;
        opacity: 0.5;
    }
}