.footer {
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 102px;
        padding-bottom: 102px;


    }
    &__top {
        background-image: url("../image/footer-background.jpg");
        background-position: center;
        background-repeat: no-repeat;


    }
    &__heading{
        margin: 0;
        padding: 0;
        max-width: 415px;
        font-weight: bold;
        font-family: 'Space Mono';
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: $white;
    }
    &__bottom {
        padding-top: 35px;
        padding-bottom: 32px;
        background-color: $gray;
    }
    &__container--bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__link {
        display: inline-block;
        text-decoration: none;
    }
    &__item{
        display: flex;
        margin: 0;
        padding: 0;
        margin-left: 59px;
        list-style: none;
    }
        &__item + &__item {
        margin-left: 32px;

    }
}



@media only screen and (max-width: 825px) {
    .footer {
        &__container {
            flex-direction: column;
            padding-top: 62px;
            padding-bottom: 62px;
        }
    }
}
